<!-- templates/registration/Create.html -->
{% extends 'base.html' %}

{% block title %}Create{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <p>Hi {{ user.username }}!  </a>
              </li>
          </ul>
      </div>
      <!-- Links -->
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/tasks">Home</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'create' %}">Create Task</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
    </div>

  </nav>
<div class="container-center">
    <h4>Create Task</h4>
<form action="/tasks/store" method="POST" id="post-form">
  {% csrf_token %}
  <div class="fieldWrapper-create" id="the_post">
        {{ form.title.label_tag }}
        {{ form.title }}
   </div>
   <div class="fieldWrapper-create" id="the_post">
        {{ form.priority.label_tag }}
        {{ form.priority }}
   </div>
  <div id="results"></div> 
  <button type="submit" onclick="return wsFucntion();" class="btn btn-primary">Submit</button>
</form>
<script>

    var taskSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/tasks/');


    taskSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    function wsFucntion () {
        taskSocket.send(JSON.stringify({
            'message': 'sample'
        }));
    }
</script>
</div>
{% else %}
    <div class="container-center">
        <p>You are not logged in</p>
        <a href="{% url 'login' %}" style="margin-left: 60px">login</a>
    </div>
{% endif %}
<!-- <script src="static/css/index.js"></script> -->
{% endblock %}