<!-- templates/list.html -->
{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  	<nav class="navbar navbar-expand-sm bg-light">
  		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
	        <ul class="navbar-nav mr-auto">
	            <li class="nav-item active">
	                <p>Hi {{ user.username }}!	</a>
	            </li>
	        </ul>
    	</div>
	  	<!-- Links -->
	  	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link" href="/tasks">Home</a>
				</li>
				{% if is_manager %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'create' %}">Create Task</a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'history' %}">Task History</a>
					</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'logout' %}">Logout</a>
				</li>
			</ul>
		</div>

	</nav>
	{% if is_manager %}
		{% if tasks %}
			{% for task in tasks %}
				<ul class="list-group">
					<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
						<div class="flex-column">
							<a href="/tasks/{{task.id}}/view">{{ task.title }} </a> 
							<p><small>{{task.task_state.state}}</small></p>
							{% if task.priority_id == 1 %}
								<span class="badge badge-secondary badge-pill"> {{task.priority}}</span>
							{% elif task.priority_id == 2 %}
								<span class="badge badge-primary badge-pill"> {{task.priority}}</span>
							{% elif task.priority_id == 3 %}
								<span class="badge badge-danger badge-pill"> {{task.priority}}</span>
							{% else %}
								<span class="badge badge-info badge-pill"> {{task.priority}}</span>
							{% endif %}
						</div>
						<div class="flex-column">
							{% if task.task_state_id != 3 and task.task_state_id != 5 %}
								<a href="/tasks/cancel/{{task.id}}" id="cancel-api" onclick="return wsFucntion();">Cancel</a>
							{% endif %}
						</div>
					</div>
				</ul>
			{% endfor %}
		{% else %}
			<div style="text-align:center">
				<p style="color:#808080">No data found</p>
			</div>
		{% endif %}
	{% else %}
		{% if tasks %}
			<ul class="list-group">
				<div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
					<div class="flex-column">
						<p>{{ tasks.title }} </p> 
						<p><small>{{tasks.task_state.state}}</small></p>
						{% if tasks.priority_id == 1 %}
							<span class="badge badge-secondary badge-pill"> {{tasks.priority}}</span>
						{% elif tasks.priority_id == 2 %}
							<span class="badge badge-primary badge-pill"> {{tasks.priority}}</span>
						{% elif tasks.priority_id == 3 %}
							<span class="badge badge-danger badge-pill"> {{tasks.priority}}</span>
						{% else %}
							<span class="badge badge-info badge-pill"> {{tasks.priority}}</span>
						{% endif %}
					</div>
					<div class="flex-column">
						{% if tasks.task_state_id != 3 and tasks.task_state_id != 5 %}
							{% if pending_count < 3 %}
								<a href="/tasks/accept/{{tasks.id}}" style="padding: 10px" onclick="return wsFucntion();">Accept</a>
							{% endif %}
							<!-- <a href="/tasks/reject/{{tasks.id}}">Reject</a> -->
						{% endif %}
					</div>
				</div>
			</ul>
		{% else %}
			<div style="text-align:center">
				<p style="color:#808080">No data found</p>
			</div>
		{% endif %}
	{% endif %}

	<script>

	    var taskSocket = new WebSocket(
	        'ws://' + window.location.host +
	        '/ws/tasks/');

	    taskSocket.onmessage = function(e) {
	        // var data = JSON.parse(e.data);
	        // var message = data['message'];
	        // document.querySelector('#chat-log').value += (message + '\n');
	        wait(2000);
	        window.location.reload(true);
	    };

	    taskSocket.onclose = function(e) {
	        console.error('Chat socket closed unexpectedly');
	    };

	    // document.querySelector('#chat-message-input').focus();
	    // document.querySelector('#chat-message-input').onkeyup = function(e) {
	    //     if (e.keyCode === 13) {  // enter, return
	    //         document.querySelector('#chat-message-submit').click();
	    //     }
	    // };

	    function wait(ms)
		{
			var d = new Date();
			var d2 = null;
			do { d2 = new Date(); }
			while(d2-d < ms);
		}

	    function wsFucntion () {
	        taskSocket.send(JSON.stringify({
	            'message': 'sample'
	        }));
	    }

	    // document.querySelector('#cancel-api').onclick = function(e) {
	    //     // var messageInputDom = document.querySelector('#chat-message-input');
	    //     // var message = messageInputDom.value;
	    //     console.log('1');
	    //     chatSocket.send(JSON.stringify({
	    //         'message': 'sample'
	    //     }));

	        // messageInputDom.value = '';
	    // };
	</script>

{% else %}
	<div class="container-center">
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">login</a>
  	</div>
{% endif %}
{% endblock %}